<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <hgroup>
        <h1 class="h1 alert-danger">Ferrou</h1>
        <h2>Um erro ocorreu! Desista! Ainda é tempo!</h2>
    </hgroup>
</body>
</html>
